@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Fira Sans, serif;
}
/* Share Style */

.btn{
  background-color: #006A50;
  border: none;
  color: white;
  padding: 17px 34px;
  font-weight: 200;
  margin-top: 24px;
  border-radius: 8px;
  font-size: medium;
  font-weight: 400;
}
/* Bannar */
.bannar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 20px;
  background-color: #C6E4D6;
  border-radius: 24px;
}
.bannar-content{
  width: 622;
  height: 326;
  padding: 40px;
}
.bannar-title{
  color: #0e0e0e;
  margin-bottom: 24px;
  text-shadow: -1px 2px 2px #8b8b8b;
  font-size: medium;
  font-weight: 500;
}
.bannar-description{
  font-weight: 1000;
  font-size: xxx-large;
  margin-bottom: 24px;
}
.bannar-img{
  width: 622;
  height: 326;
  padding: 40px;
}

/* The Vision of Future */

.vision-content{
  margin: 40px 24px;
}
.vision-title{
  font-size: xx-large;
  font-weight: 800;
  margin-bottom: 24px;
}
.vision-description{
  color: #3f3f3f;
  margin-bottom: 32px;
}
.vision-card{
  display: flex;
  padding: 32px;
  justify-content: space-around;
  align-items: center;
}
.vision-card-1{
  background-color: #548ff534;
  text-align: left;
  padding: 32px;
  border-radius: 16px;
  margin: 24px;
}
.vision-card-img{
  margin-bottom: 24px;
}
.vision-card-title{
  margin-bottom: 24px;
}
.vision-card-description{
  margin-bottom: 24px;
}
.vision-card-btn{
  background-color: #5490F5;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  color: white;
}
.vision-card-2{
  background-color: #C6E4D6;
  text-align: left;
  padding:32px;
  border-radius: 16px;
  margin: 24px;
}
.vision-card-2 .vision-card-btn{
  background-color: #09A15C;
}
.vision-card-3{
  background-color: #F7EBCF;
  text-align: left;
  padding:32px;
  border-radius: 16px;
  margin: 24px;
}
.vision-card-3 .vision-card-btn{
  background-color: #FFC239;
}

/* Recent News */

.news-heading{
  margin: 24px;
}
.news-heading-title{
  /* margin: 24px; */
  font-weight: 800;
  font-size: xx-large;
}
.news-heading-description{
  color: #0e0e0e80;
  margin-top: 24px;
}
.news-content{
  display: flex;
  background-color: rgb(252, 250, 250);
  border-radius: 24px;
  justify-content: space-around;
  align-items: center;
  padding: 48px;
  margin: 24px;
}
.news-img{
  width: 47%px;
  height: 47%;
  border-radius: 24px;
}
.news-content-details{
  padding: 32px;
}
.news-title{
  margin: 12px;
  font-size: xx-large;
}
.news-ref-img{
  margin: 12px;
  width: 134px;
  height: 40px;
}
.dop{
  margin: 12px;
}
.news-details{
  margin: 12px;
}
.news-content-details .btn{
  margin: 12px;
}

