@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Fira Sans, serif;
}
/* Share Style */

.btn{
  background-color: #006A50;
  border: none;
  color: white;
  padding: 17px 34px;
  font-weight: 200;
  margin-top: 24px;
  border-radius: 8px;
  font-size: medium;
  font-weight: 400;
}
.btn:hover{
  background-color: #8ceed6;
  color: #0e0e0e;
  cursor: pointer;
}
/* Bannar */
.bannar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 20px;
  background-color: #C6E4D6;
  border-radius: 24px;
}
.bannar-content{
  width: 622;
  height: 326;
  padding: 40px;
}
.bannar-title{
  color: #0e0e0e;
  margin-bottom: 24px;
  text-shadow: -1px 2px 2px #8b8b8b;
  font-size: medium;
  font-weight: 500;
}
.bannar-description{
  font-weight: 1000;
  font-size: xxx-large;
  margin-bottom: 24px;
}
.bannar-img{
  width: 622;
  height: 326;
  padding: 40px;
}

/* The Vision of Future */

.vision-content{
  margin: 40px 24px;
}
.vision-title{
  font-size: xx-large;
  font-weight: 800;
  margin-bottom: 24px;
}
.vision-description{
  color: #3f3f3f;
  margin-bottom: 32px;
}
.vision-card{
  display: flex;
  padding: 32px;
  justify-content: space-around;
  align-items: center;
}
.vision-card-1{
  background-color: #548ff534;
  text-align: left;
  padding: 32px;
  border-radius: 16px;
  margin: 24px;
}
.vision-card-img{
  margin-bottom: 24px;
}
.vision-card-title{
  margin-bottom: 24px;
}
.vision-card-description{
  margin-bottom: 24px;
}
.vision-card-btn{
  background-color: #5490F5;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.vision-card-btn:hover{
  background-color: #163163;
  
}
.vision-card-2{
  background-color: #C6E4D6;
  text-align: left;
  padding:32px;
  border-radius: 16px;
  margin: 24px;
}
.vision-card-2 .vision-card-btn{
  background-color: #09A15C;
}
.vision-card-2 .vision-card-btn:hover{
  background-color: #44f3a4;
  color: #0e0e0e;
}
.vision-card-3{
  background-color: #F7EBCF;
  text-align: left;
  padding:32px;
  border-radius: 16px;
  margin: 24px;
}
.vision-card-3 .vision-card-btn{
  background-color: #FFC239;
}
.vision-card-3 .vision-card-btn:hover{
  background-color: #fab002;
  color: #0e0e0e;
}
/* Quote */

.quota{
  background-image: url('../assets/quote-bg.png');
  height: 200px;
  background-repeat: no-repeat;
  /* padding: 40px; */
  background-position: 20px 20px;
  background-color: #f6fdfb;
  margin: 24px;
  border-radius: 16px;
}
.quota p{
  padding: 48px 24px 12px 24px;
}
.quota h2{
  padding: 12px 24px;
}
.quota h3{
  padding: 0 24px;
  color: #0e0e0e5b;
}

/* Recent News */

.news-heading{
  margin: 24px;
}
.news-heading-title{
  /* margin: 24px; */
  font-weight: 800;
  font-size: xx-large;
}
.news-heading-description{
  color: #0e0e0e80;
  margin-top: 24px;
}
.news-content{
  display: flex;
  background-color: rgb(252, 250, 250);
  border-radius: 24px;
  justify-content: space-around;
  align-items: center;
  padding: 48px;
  margin: 24px;
}
.news-img{
  width: 47%px;
  height: 47%;
  border-radius: 24px;
}
.news-content-details{
  padding: 32px;
}
.news-title{
  margin: 12px;
  font-size: xx-large;
}
.news-ref-img{
  margin: 12px;
  width: 134px;
  height: 40px;
}
.dop{
  margin: 12px;
}
.news-details{
  margin: 12px;
}
.news-content-details .btn{
  margin: 12px;
}
/* Donate Today */

.donate-content{
  text-align: center;
  margin: 24px;
}
.donate-title{
  font-size: xx-large;
  padding: 24px;
}
.donate-description{
  color: #0e0e0e5b;
}.donate-collect{
  text-align: center;
}
.donate-btn{
  border: none;
  padding: 40px;
  color: rgb(22, 22, 22);
  background-color: rgba(235, 228, 228, 0.664);
  border-radius: 16px;
  font-size: xx-large;
  font-weight: 800;
  margin: 24px;
  cursor: pointer;
}
.donate-btn:hover{
  background-color: #C6E4D6;
}
.ex{
  background-color: #C6E4D6;
}
.ex:hover{
  background-color: rgb(167, 197, 197);
  color: white;
}
.donate-confirm{
  display: flex;
  flex-direction: column;
  padding: 20px 20%;
}
.donate-data{
  padding: 20px 40px;
  border: none;
  background-color: rgb(237, 239, 241);
  text-align: center;
  color: #818080;
}
.donate-confirm-btn{
border: none;
padding: 17px 34px;
background-color: #006A50;
text-align: center;
align-items: center;
margin: 10px auto;
display: flex;
border-radius: 8px;
cursor: pointer;
}
.donate-confirm-btn:hover{
  background-color: #1b8d59;
}
.donate-confirm-btn a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
/* Subscribe */
.subscribe{
  background-color: #C6E4D6;
  margin: 24px;
  padding: 80px 100px;
  border-radius: 24px;
  text-align: center;
}
.subscribe-content h1{
  padding: 24px;
}
.subscribe-content p{
  padding: 24px;
}
.subscriber-data{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscriber-user-input{
  border: none;
  padding: 10px 10%;
  border-radius: 5px 0 0 5px;

}
.subscribe-btn {
border: none;
padding: 7.5px;
border-radius: 0 5px 5px 0;
background-color: #006A50;
cursor: pointer;
}
.subscribe-btn:hover{
  background-color: #030f0c;
}
.subscribe-btn a{
  text-decoration: none;
  font-size: large;
  color: white;
}
.promise{
  color: rgba(26, 25, 25, 0.466);
  padding: 12px;
}